
.cursor-animation {
  display: inline-block;
  vertical-align: middle;
  right: -85px;
  top: -25px;
  position: relative;
}

.cursor-animation img {
  width: 70px !important;
  height: 70px !important;
  margin-left: 0px;
}

.container {
  display: flex;
  align-items: center;
}

